include /_includes/_nav.pug
include /_includes/_footer.pug

include /_mixins/_extensions/_integrations.pug
include /_mixins/_extensions/_googlemaps.pug

include /_mixins/_stats.pug
include /_mixins/_appshowcase.pug
include /_mixins/_getapp.pug
include /_mixins/_pricing.pug

doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="theme-color" content="#1fc2c2")
        meta(name='mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='application-name' content='Teamplanbuch')
        meta(name='apple-mobile-web-app-status-bar-style' content='black')
        meta(name='apple-mobile-web-app-title' content='Teamplanbuch')
        meta(name='msapplication-TileColor' content='#1b1b1c')
        meta(name='theme-color' content='#1fc2c2')
        meta(property='og:title' content='Teamplanbuch')
        meta(property='og:type' content='website')
        meta(property='og:url' content='https://www3.teamplanbuch.ch')
        link(rel="icon" type="image/png" href="/assets/images/favicon-tpb.png")

        meta(name='description' content='The online game and training planner for groups, clubs and teams')
        meta(name='keywords' content='club software, organizational software, network, team, team software, team planning, team plan book, team, club, groups, grow, network, meetings, dates, diary, planning, club management, club work, club management, organizer, associations, community, together, society , together, member management')
        meta(property='og:description' content='The online game and training planner for groups, clubs and teams. Start your free 40-day trial today!')
        
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

        script(src='/assets/javascript/interactive.js' type='text/javascript' async)
        script(src='/assets/javascript/nav.js' type='text/javascript' async)

        link(href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet")

        link(rel='stylesheet' href='/assets/stylesheets/artofgumb.css')
        link(rel='stylesheet' href='/assets/stylesheets/pagespecific/tpb.css')
        
        title The online game and training planner for groups, clubs and teams · Teamplanbuch

    body.tpb

        iframe(name="tpbProxy" src="about:blank")#tpbProxy
        
        header.header__tpb
            .nav__wrapper
                nav.nav
                    a.nav__brand(href='#')
                        img.logo.logo--tpb(src='/assets/images/tpb-maennli.png')
                    nav.nav__navigation
                        select.nav__navigation__select.nav__navigation__item.select--dark#mobileNav
                            option(value='#' selected) Menu
                            option(value='#') Start
                            option(value='#pricing') Subscriptions & prices
                            option(value='https://gumb.ch') Company
                        
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='#') Start
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='#pricing') Subscriptions and prices
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='https://gumb.ch' target=_blank) Company
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass.startChat Help

                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass.padding-right--4-i(href='https://www.facebook.com/teamplanbuch/' target='_blank')
                            ion-icon.icon--l-fs(name="logo-facebook")
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass.padding-right--4-i.padding-left--4-i(href='https://www.linkedin.com/company/gumb/' target='_blank')
                            ion-icon.icon--l-fs(name="logo-linkedin")
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass.padding-left--4-i(href='https://twitter.com/GumbApp' target='_blank')
                            ion-icon.icon--l-fs(name="logo-twitter")
                        
                        a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='https://www3.teamplanbuch.ch/') DE
                            ion-icon(name="ios-arrow-round-forward")

                    nav.nav__buttons
                        a.nav__navigation__item.nav__navigation__item--cta.btn.btn--shadow.margin-right--16#login Login
                        a.nav__navigation__item.nav__navigation__item--cta.btn.try Try free

        .overlay#loginOverlay
            .close
                ion-icon.dark(name="ios-close-circle-outline" size="large")

            form(action="https://www.teamplanbuch.ch/spb/buch/login-register/dologin.php" method="post" target="tpbProxy")#loginForm
                .section__title.padding-bottom--64
                    h4 Easy & Safe
                    p Login into your 
                        b.gradient Teamplanbuch
                        | .
                br
                input(type="hidden" name="userLogin" value="")
                .floating
                    input#input__username.floating__input(name='username' type='email' placeholder='Your E-Mail-Address' required)
                    label.floating__label(for='input__username' data-content='Your E-Mail-Address')
                    span.hide
                        | Your E-Mail-Address
                .floating
                    input#input__password.floating__input(type='password' name='passwort' placeholder='Your Password' required)
                    label.floating__label(for='input__password' data-content='Your Password')
                    span.hide Your Password
                br
                .section__title
                    button.nav__navigation__item.nav__navigation__item--cta.btn 
                        ion-icon.padding-right(name="ios-lock")
                        | Login
                    br
                    a#passReset Forgot your password?

        .overlay#resetOverlay
            .close
                ion-icon.dark(name="ios-close-circle-outline" size="large")

            .section__title.padding-bottom--64
                h4 Reset password
                p Don't worry! Just enter your E-Mail-Address and we will send you a brand new one right into your inbox.
            .form
                form
                    .floating
                        input#reset__email.floating__input(name='reset-email' type='email' placeholder='Your E-Mail-Address' required)
                        label.floating__label(for='reset__email' data-content='Your E-Mail-Address')
                        span.hide
                            | Your E-Mail-Address
                    br
                    .section__title
                        button.nav__navigation__item.nav__navigation__item--cta.btn
                            ion-icon.padding-right(name="ios-finger-print" size="small")
                            | Reset password
        
        .overlay#tryOverlay
            .close
                ion-icon.dark(name="ios-close-circle-outline" size="large")

            .section__title.padding-bottom--64
                h4 Register to begin your trial
                p Test the 
                    b.gradient Teamplanbuch
                    |   40 days for free.
            .form.registerStep#register
                form(action="https://www3.teamplanbuch.ch/tools/mailing/doRegister.php" method="post")
                    input(type="hidden" name="userRegister" value="1")
                    .floating
                        input#input__email.floating__input(name='email' type='email' placeholder='Your E-Mail-Address' required)
                        label.floating__label(for='input__email' data-content='Your E-Mail-Address')
                        span.hide
                            | Your E-Mail-Address
                    br
                    .section__title
                        button.nav__navigation__item.nav__navigation__item--cta.btn
                            | Go
                            ion-icon.padding-left(name="ios-arrow-round-forward" size="small")
            
            .form.registerStep#register2
                form(action="https://www3.teamplanbuch.ch/spb/buch/login-register/doConfirmNewBook.php" method="post")
                    input(type="hidden" name="clubregister" value="1")
                    .floating
                        input#input__clubname.floating__input(name='vereinsname' type='text' placeholder='Club name' required)
                        label.floating__label(for='input__clubname' data-content='Club name')
                        span.hide
                            | Club name
                    br
                    .floating
                        select#input__clubcategory.floating__input(name='vereinsart' type='text' placeholder='Vereinsart' required)
                            option(value='Sonstiges' selected disabled) Select club type
                            each opt in ['Musik', 'Fussball', 'Handball', 'Eishockey', 'American Football', 'Badminton', 'Baseball', 'Basketball', 'Beachball', 'Cricket', 'Curling', 'Eishockey', 'Eiskunstlauf', 'Familie', 'Faustball', 'Fechten', 'Football', 'Freunde', 'Fussball', 'Geräteturnen', 'Guggenmusik', 'Handball', 'Inlinehockey', 'Hornusser', 'Kirche', 'Korbball', 'Kultur', 'Kunstturnen', 'Langlaufclub', 'Minigolf', 'Musik', 'Rollhockey', 'Rugby', 'Segeln', 'Skiclub', 'Spass', 'Squash', 'Streethockey', 'Studentenvereinigung', 'Turnverein', 'Tennis', 'Tiere', 'Tischtennis', 'Unihockey', 'Veloclub', 'Volleyball', 'Walking', 'Wasserball', 'Sonstiges']
                                option(value= opt)= opt

                        label.floating__label(for='input__clubcategory' data-content='Club type')
                        span.hide
                            | Club type
                    br
                    .floating
                        select#input__clubcountry.floating__input(name='land' type='text' placeholder='Select your country' required)
                            option(value='Schweiz' selected) Switzerland
                            option(value='Deutschland') Germany
                            option(value='Österreich') Austria
                            option(value='Schweiz') Other Country
                        label.floating__label(for='input__clubcountry' data-content='Select your country')
                        span.hide
                            | Select your country
                    br
                    br
                    p Please enter your personal details
                    br
                    .floating
                        input#input__surname.floating__input(name='vorname' type='text' placeholder='First name' required)
                        label.floating__label(for='input__surname' data-content='First name')
                        span.hide
                            | First name
                    br
                    .floating
                        input#input__name.floating__input(name='name' type='text' placeholder='Surname' required)
                        label.floating__label(for='input__name' data-content='Surname')
                        span.hide
                            | Surname
                    br
                    .floating
                        input#input__clubpassword.floating__input(name='passwort1' type='password' placeholder='Your Password' required)
                        label.floating__label(for='input__clubpassword' data-content='Your Password')
                        span.hide
                            | Your Password
                    br
                    .floating
                        input#input__reclubpassword.floating__input(name='passwort2' type='password' placeholder='Your Password (again)' required)
                        label.floating__label(for='input__reclubpassword' data-content='Your Password (again)')
                        span.hide
                            | Your Password (again)
                    br
                    .section__title
                        button.nav__navigation__item.nav__navigation__item--cta.btn 
                            | Open your personal Teamplanbuch
                            ion-icon.padding-left(name="ios-arrow-round-forward" size="small")
            
        main#teamplanbuch
            section.margin-bottom--0
                .section__inner
                    .section__content.section__content--50.padding-right--64
                        .section__title.section__title--ltr
                            h3.gradient Teamplanbuch
                            h3 and your team is organized.
                            p With the online game, event and training planner for teams, clubs and associations you can organize yourself and your team easily and quickly. Teamplanbuch is our scheduling app and is available for all your devices.
                            br
                            .registerStep#registerInline
                                form.flex.flex--items(action="https://www3.teamplanbuch.ch/tools/mailing/doRegister.php" method="post")
                                    input(type="hidden" name="userRegister" value="1")
                                    .floating
                                        input#input__inlineEmail.floating__input(name='email' type='text' placeholder='Your E-Mail-Address' required autocomplete='off')
                                        label.floating__label(for='input__inlineEmail' data-content='Your E-Mail-Address')
                                        span.hide
                                            | Your E-Mail-Address
                                    button.nav__navigation__item.nav__navigation__item--cta.btn.margin-left--16#registerNext
                                        | Start your free 40-day trial
                                        ion-icon.padding-left(name="ios-arrow-round-forward" size="small")

                    .section__content.section__content--50.section__content--image
                        img(src='/assets/images/mockups/iphone-menu.png')
            
            +integrations(1)
            +getapp('en')
            
            +appshowcase('en', 'notitle')

            +stats('en')
            
            +pricing('en')

        include /_includes/_endofbody.pug

    +footer('en', 'bright', 'tpb')
