body
    background: white !important

header
    height: auto
    padding-top: 20px
    padding-bottom: 0px

.header

    &--media
        height: 80%
        background: rgba(0,0,0,.3)

.page

    &--dark
        background: black !important

        & body, & main, & footer
            background: black !important