body
    background: white !important

header
    height: auto
    padding-top: 20px
    padding-bottom: 0px

.page

    &--dark
        background: #0F0F0F !important

        & body, & main, & footer
            background: #0F0F0F !important