include _mixins/_css.pug
include _includes/_nav.pug
include _includes/_footer.pug

doctype html
html(lang="en")
    head
        include _includes/_meta.pug
        +css()
        include _includes/_js.pug
    
    body
        include _includes/_globalbody.pug

        video(playsinline autoplay muted loop)
            source(src="/assets/video/backvid.mp4" type="video/mp4")
        header.header--media
            +nav('en','page','bright','white')
            .section__title.padding-top--100
                h3.white Powering togetherness
                p.white Gumb helps clubs and groups of all kinds and sizes grow and achieve the best results with a unique online experience and innovative tools on a single platform.

        main
            section
                .section__inner
                    .g33
                        .persona
                            .persona__text
                                h3 Dominik
                                h3 Frei
                                p Founder & CEO
                                br
                                .flex
                                    a.padding-right(href='https://www.linkedin.com/in/dominikfrei/' target='_blank') 
                                        ion-icon(name="logo-linkedin")
                                    a.padding-right(href='https://twitter.com/FridayFrei' target='_blank') 
                                        ion-icon(name="logo-twitter")
                                    a.padding-right(href='https://www.xing.com/profile/Dominik_Frei3/cv' target='_blank') 
                                        ion-icon(name="logo-xing")
                                    a.padding-right(href='https://www.facebook.com/dominik.frei.14' target='_blank') 
                                        ion-icon(name="logo-facebook")
                                    a.padding-right(href='https://www.instagram.com/dominilicious/' target='_blank') 
                                        ion-icon(name="logo-instagram")
                    .g33
                        .persona
                            .persona__text
                                h3 Jonathan
                                h3 Arbely
                                p CIO
                                br
                                .flex
                                    a.padding-right(href='https://www.linkedin.com/in/jonathan-arbely-547565190/' target='_blank') 
                                        ion-icon(name="logo-linkedin")
                                    a.padding-right(href='https://github.com/jonathanarbely' target='_blank') 
                                        ion-icon(name="logo-github")
                                    a.padding-right(href='https://dribbble.com/jarbely' target='_blank') 
                                        ion-icon(name="logo-dribbble")
                    .g33
                        .persona
                            .persona__text
                                h3 Barbara
                                h3 Ruschinski
                                p Bookkeeping & Accounting
            
            section
                .section__spacer
                .section__title
                    h3 What are our 
                        span.gradient Core values?
                        | ?
                    p The basis of all our decisions
                .section__inner
                        .section__content.section__content--50.padding-right--128.alignitems--center
                            .section__title.section__title--ltr
                                h3.gradient.clickable.value#value1(data-value="1") Benutzerorientiert
                                br
                                br
                                h3.clickable.value#value2(data-value="2") Offen
                                br
                                br
                                h3.clickable.value#value3(data-value="3") Ständige Verbesserung
                                br
                                br
                                h3.clickable.value#value4(data-value="4") Global & Lokal
                        
                        .section__content.section__content--50.padding-left--64
                            .section__title.section__title--ltr.valueText#value1Text
                                img.icon.padding-bottom--16(src="assets/vector/gumb-brand-dark.svg")
                                h3 We focus on the user.
                                p Everything we do must start and end with our users in mind. We advocate for you, your club, your association and team, and we aim to exceed your expectations with everything we do.
                            .section__title.section__title--ltr.valueText.hide#value2Text
                                img.icon.padding-bottom--16(src="assets/vector/gumb-brand-dark.svg")
                                h3 We're always open.
                                p With our users and with each other. We’re open to new ideas, new ways of working and open to being challenged.
                            .section__title.section__title--ltr.valueText.hide#value3Text
                                img.icon.padding-bottom--16(src="assets/vector/gumb-brand-dark.svg")
                                h3 We continuously improve
                                p We don’t stand still. We continuously improve everything; the product, the experience, the support. We love feedback from users & groups of any kind.
                            .section__title.section__title--ltr.valueText.hide#value4Text
                                img.icon.padding-bottom--16(src="assets/vector/gumb-brand-dark.svg")
                                h3 We think globally, we act locally
                        
            section
                .section__spacer
                .quote
                    h5 «We see ourselves as a service provider for modern get-together.»
                    p - Dominik, CEO

            section
                .section__spacer
                .section__title
                    h3 Was wir bereits erreicht haben
                    p Unsere Meilensteine
                .section__inner
                    .showcase
                        .showcase__image(style="background-image: url('/assets/images/showcase/slide1.png')")#scImg1
                        .showcase__card#scCrd1
                            h6 Februar 2020
                            h4 Gründung Gumb AG &amp; Einzug neues Büro
                            p Wir sind im Februar ins neue Büro gezogen. Jetzt kann's losgehen!

                        .showcase__image.hide(style="background-image: url('/assets/images/showcase/slide2.jpg')")#scImg2
                        .showcase__card.hide#scCrd2
                            h6 März 2020
                            h4 Unser erster Praktikant Juri ist schon fleißig am helfen

                        .showcase__ui
                            .flex.flex--items.hide#showcaseBack
                                ion-icon.nebula(name="ios-arrow-back" size="small")
                                b.clickable.nebula.padding-left.padding-right--16 Zurück
                            p.padding-right--16
                                span#showcaseCounter 1
                                span /
                                span#showcaseLength 03
                            .flex.flex--items(data-value="1")#showcaseNext
                                b.clickable.padding-right.nebula Weiter
                                ion-icon.nebula(name="ios-arrow-forward" size="small")


        include /_includes/_endofbody.pug

        +footer('de', 'bright')
