include _includes/_global.pug

doctype html
html(lang="de")
    head
        include _includes/_js.pug

        +css()
        +meta('de','Über uns')

    body

        video(playsinline autoplay muted loop)
            source(src="/assets/video/backvid-long.mp4" type="video/mp4")
        header.header--media
            +nav('de','page','bright','white')
            .section__title.padding-top--100
                h3.white Zusammensein fördern
                p.white Gumb hilft Vereinen und Gruppen jeder Art &amp; Größe, mit einem einzigartigem Online-Erlebnis und innovativen Tools auf einer einzigen Plattform, zu wachsen und die besten Ergebnisse zu erzielen.

        main
            section.team#team
                .section__inner
                    .g50
                        .persona.persona--df
                            .persona__text
                                h3 Dominik
                                h3 Frei
                                p Gründer & Geschäftsführer
                                br
                                .flex
                                    a.padding-right(href='https://www.linkedin.com/in/dominikfrei/' target='_blank')
                                        ion-icon(name="logo-linkedin")
                                    a.padding-right(href='https://twitter.com/FridayFrei' target='_blank')
                                        ion-icon(name="logo-twitter")
                                    a.padding-right(href='https://www.xing.com/profile/Dominik_Frei3/cv' target='_blank')
                                        ion-icon(name="logo-xing")
                                    a.padding-right(href='https://www.facebook.com/dominik.frei.14' target='_blank')
                                        ion-icon(name="logo-facebook")
                                    a.padding-right(href='https://www.instagram.com/dominilicious/' target='_blank')
                                        ion-icon(name="logo-instagram")
                    .g50
                        .persona.persona--br
                            .persona__text
                                h3 Barbara
                                h3 Ruschinski
                                p Buchhaltung & Rechnungswesen

            section
                .section__spacer
                .section__title
                    h3 Was sind unsere
                        | 
                        span.gradient Grundwerte
                        | ?
                    p Das Fundament all unserer Entscheidungen
                .section__inner.values
                        .section__content.section__content--50.padding-right--128.alignitems--center
                            .section__title.section__title--ltr
                                h3.margin-top--16.gradient.clickable.value#value1(data-value="1") Benutzerorientiert
                                h3.margin-top--16.clickable.value#value2(data-value="2") Offen
                                h3.margin-top--16.clickable.value#value3(data-value="3") Ständige Verbesserung
                                h3.margin-top--16.clickable.value#value4(data-value="4") Global & Lokal

                        .section__content.section__content--50.padding-left--64.values__text
                            .section__title.section__title--ltr.valueText#value1Text
                                img.icon.padding-bottom--16(src="assets/vector/gumb-brand-dark.svg")
                                h3 Wir fokussieren uns auf den Nutzer
                                p Alles, was wir tun, beginnt und endet mit dem Blick auf unsere Nutzer. Wir setzen uns für dich, dein Verein, deine Mannschaft und deine Gruppe ein und sind bestrebt, Deine Erwartungen mit allem, was wir tun, zu übertreffen.
                            .section__title.section__title--ltr.valueText.hide#value2Text
                                img.icon.padding-bottom--16(src="assets/vector/gumb-brand-dark.svg")
                                h3 Wir sind immer offen
                                p Mit unseren Nutzern und untereinander. Wir sind offen für neue Ideen, neue Arbeitsmethoden und offen dafür, herausgefordert zu werden.
                            .section__title.section__title--ltr.valueText.hide#value3Text
                                img.icon.padding-bottom--16(src="assets/vector/gumb-brand-dark.svg")
                                h3 Wir verbessern uns ständig
                                p Wir stehen nicht still. Wir verbessern ständig alles; Das Produkt, die Erfahrung, den Support. Wir lieben das Feedback von Nutzern und Gruppen jeder Art.
                            .section__title.section__title--ltr.valueText.hide#value4Text
                                img.icon.padding-bottom--16(src="assets/vector/gumb-brand-dark.svg")
                                h3 Wir denken global, wir handeln lokal

            section
                .section__spacer
                .quote
                    h5 «Wir sehen uns als Dienstleister für das moderne Zusammensein.»
                    p - Dominik, CEO

            section
                .section__spacer
                .section__title#milestones
                    h3 Was wir bereits erreicht haben
                    p Unsere Meilensteine
                .section__inner
                    .showcase
                        .showcase__image(style="background-image: url('/assets/images/showcase/slide1.png')")#scImg1
                        .showcase__card#scCrd1
                            h6 Februar 2020
                            h4 Gründung Gumb AG &amp; Einzug neues Büro
                            p Wir sind im Februar ins neue Büro gezogen. Jetzt kann's losgehen!

                        .showcase__image.hide(style="background-image: url('/assets/images/showcase/slide2.jpg')")#scImg2
                        .showcase__card.hide#scCrd2
                            h6 März 2020
                            h4 Unser erster Praktikant Juri ist schon fleißig am helfen

                        .showcase__ui
                            .flex.flex--items.hide#showcaseBack
                                ion-icon.nebula(name="ios-arrow-back" size="small")
                                b.clickable.nebula.padding-left.padding-right--16 Zurück
                            p.padding-right--16
                                span#showcaseCounter 1
                                span /
                                span#showcaseLength 03
                            .flex.flex--items(data-value="1")#showcaseNext
                                b.clickable.padding-right.nebula Weiter
                                ion-icon.nebula(name="ios-arrow-forward" size="small")


        include /_includes/_endofbody.pug

        +footer('de', 'bright')
