include _mixins/_css.pug
include _mixins/_extensions/_integrations.pug
include _includes/_nav.pug
include _includes/_footer.pug

doctype html
html(lang="de")
    head
        include _includes/_meta.pug
        +css()
        include _includes/_js.pug
    
    body
        include _includes/_globalbody.pug
        
        header
            +nav('page', 'dark')

        main
            +integrations(1,20)
            
            section
                .section__title
                    h6 Community
                    h3 Unsere User-Stories
                    p Gumb hinterlässt Eindruck. 
                        br 
                        | Schau Dir an, was über uns im Netz gesagt wird.

                .section__content.section__content--row
                    .section__tube
                        blockquote.twitter-tweet
                            p(lang='de' dir='ltr')
                                | &#x1F389; Vielen Dank an Peter Egloff aus der Schweiz &#x1F1E8;&#x1F1ED;f&uuml;r Deine 
                                a(href='https://twitter.com/hashtag/teamplanbuch?src=hash&ref_src=twsrc%5Etfw') #teamplanbuch
                                |  Bewertung:
                                br
                                br
                                | &quot;Team-Organisation leicht gemacht. Danke &#x1F64F;&quot;
                                br
                                br
                                | 13.08.2018 via 
                                a(href='https://t.co/YnaiSDtgs1') https://t.co/YnaiSDtgs1
                            | &mdash; Gumb (@GumbApp) 
                            a(href='https://twitter.com/GumbApp/status/1235228500602257408?ref_src=twsrc%5Etfw') March 4, 2020

                        iframe.fb-post(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fteamplanbuch%2Fposts%2F3019982028022382&width=500' width='500' height='299' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')

                        blockquote.twitter-tweet
                            p(lang="de" dir="ltr") Geniales Planungstool für Vereine oder andere Gruppen die zusammen arbeiten. Www.teamplanbuch.ch just rocks! &mdash; MadPad (@padfrey) 
                                a(href="https://twitter.com/padfrey/status/151744482730196992?ref_src=twsrc%5Etfw") December 27, 2011
                    
                    .section__tube
                        blockquote.twitter-tweet
                            p(lang='de' dir='ltr')
                                | &#x1F389; Vielen Dank an Dani Jung (Eishockey) f&uuml;r Deine 
                                a(href='https://twitter.com/hashtag/teamplanbuch?src=hash&ref_src=twsrc%5Etfw') #teamplanbuch
                                |  Bewertung:
                                br
                                br
                                | &quot;Sehr Gutes Planbuch f&uuml;r Vereine und Sportvereine &#x1F44C;&#x1F3FC;&quot;
                                br
                                br
                                | 18.08.2019 via 
                                a(href='https://t.co/YnaiSDtgs1') https://t.co/YnaiSDtgs1
                            | &mdash; Gumb (@GumbApp) 
                            a(href='https://twitter.com/GumbApp/status/1235246864351588352?ref_src=twsrc%5Etfw') March 4, 2020
                        
                        blockquote.twitter-tweet
                            p(lang='de' dir='ltr')
                                | &#x1F389; Vielen Dank an Theo Vettermann (American Football) f&uuml;r Deine 
                                a(href='https://twitter.com/hashtag/teamplanbuch?src=hash&ref_src=twsrc%5Etfw') #teamplanbuch
                                |  Bewertung:
                                br
                                br
                                | &quot;Gut, einfach und schnell. &#x1F680;&quot;
                                br
                                br
                                | 02.04.2019 via 
                                a(href='https://t.co/YnaiSDtgs1') https://t.co/YnaiSDtgs1
                            | &mdash; Gumb (@GumbApp) 
                            a(href='https://twitter.com/GumbApp/status/1235225586190163968?ref_src=twsrc%5Etfw') March 4, 2020

                        iframe.fb-post(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fteamplanbuch%2Fposts%2F3019961548024430&width=500' width='500' height='274' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')

            .background--shapes
                section
                    .section__inner
                        .section__content.section__content--50.padding-right--128.alignitems--center
                            .section__title.section__title--ltr
                                h6 Soziale Kanäle
                                h3 Teile deine Meinung mit der Welt und hinterlasse Feedback
                                p Verbinde Dich mit uns auf den verschiedenen Kanälen. Schreibe uns jederzeit gerne eine Nachricht und lass uns wissen, wie unsere Apps Dir und Deiner Gruppe weiterhelfen!
                                b.nebula.padding-top Wir freuen uns, wenn Du Dich mit uns vernetzt!
                                br
                                br
                                a.nav__navigation__item.nav__navigation__item--dark.nav__navigation__item--cta.btn.btn--shadow.startChat Chatte mit uns!
                        .section__content.section__content--50.padding-left--64
                            .section__tube
                                a(href="https://www.facebook.com/gumbapp/" target='_blank')
                                    .tile
                                        ion-icon.fb(name="logo-facebook")
                                        h6.padding-top 1.385 Likes
                                a(href="https://www.instagram.com/gumbapp/" target='_blank')
                                    .tile.margin-top--30
                                        img(src="/assets/vector/icons/insta.svg")
                                        h6.padding-top 9 Abonnenten
                            .section__tube
                                a(href="https://www.linkedin.com/company/gumb/" target='_blank').margin-top--55
                                    .tile
                                        ion-icon.li(name="logo-linkedin")
                                        h6.padding-top 3 Follower
                                a(href="https://twitter.com/GumbApp" target='_blank').margin-top--30
                                    .tile
                                        ion-icon.tw(name="logo-twitter")
                                        h6.padding-top 5 Follower
                            .section__tube
                                a(href="https://github.com/jonathanarbely/gumbag" target='_blank')
                                    .tile
                                        ion-icon.gh(name="logo-github")
                                        h6.padding-top 24 Commits
                                //-a(href="#" target='_blank').margin-top--30
                                    .tile
                                        ion-icon.xi(name="logo-xing")
                                        h6.padding-top 1337 Follower
                        

        include /_includes/_endofbody.pug
        script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

    +footer('de','bright')