include _includes/_global.pug
include _mixins/_extensions/_integrations.pug

doctype html
html(lang="de")
    head
        include _includes/_js.pug

        +css()
        +meta('de','Community')
    
    body
        +beacon('de')
        
        header
            +nav('de', 'page', 'dark')

        main
            +integrations(1,20)
            
            section
                .section__title
                    h6 Community
                    h3 Unsere User-Stories
                    p Gumb hinterlässt Eindruck.
                        br 
                        | Schau Dir an, was über uns im Netz gesagt wird.

                include _includes/_extensions/_socialmediaposts.pug

            .background--shapes
                section#social
                    .section__inner.social
                        .section__content.section__content--50.padding-right--128.alignitems--center.social__text
                            .section__title.section__title--ltr
                                h6 Soziale Kanäle
                                h3 Möchten Du Deine Geschichte mit der Gumb-Community teilen?
                                p Folge uns auf Social Media und bleib auf dem Laufenden. Erreiche die Community und lass uns wissen, wie unsere Apps Dir und Deinem Team helfen können!
                                b.nebula.padding-top Wir freuen uns, wenn Du Dich mit uns vernetzt!
                                a.nav__navigation__item.nav__navigation__item--dark.nav__navigation__item--cta.btn.btn--shadow.margin-top--16.startChat Chatte mit uns!
                        .section__content.section__content--50.padding-left--64.social__networks
                            .section__tube
                                a(href="https://www.facebook.com/gumbapp/" target='_blank')
                                    .tile
                                        ion-icon.fb(name="logo-facebook")
                                        h6.padding-top 1.385 Likes
                                a(href="https://www.instagram.com/gumbapp/" target='_blank')
                                    .tile.margin-top--30
                                        img(src="/assets/vector/icons/insta.svg")
                                        h6.padding-top 9 Abonnenten
                            .section__tube
                                a(href="https://www.linkedin.com/company/gumb/" target='_blank').margin-top--55
                                    .tile
                                        ion-icon.li(name="logo-linkedin")
                                        h6.padding-top 3 Follower
                                a(href="https://twitter.com/GumbApp" target='_blank').margin-top--30
                                    .tile
                                        ion-icon.tw(name="logo-twitter")
                                        h6.padding-top 5 Follower
                            .section__tube
                                a(href="https://github.com/jonathanarbely/gumbag" target='_blank')
                                    .tile
                                        ion-icon.gh(name="logo-github")
                                        h6.padding-top 24 Commits
                                a(href="https://www.xing.com/companies/gumbag" target='_blank').margin-top--30
                                    .tile
                                        ion-icon.xi(name="logo-xing")
                                        h6.padding-top 3 Mitarbeiter
                        

        include /_includes/_endofbody.pug

    +footer('de','bright')