include _includes/_pageincludes.pug

-var pageTitle = 'Magellan Magellan Code & Design - Premium Webdienstleistungen, Apps, Websites & Printdesign aus dem Schwarzwald'

doctype html
html(lang="de")
    head
        include _includes/_meta.pug
        +meta()
        +css()
        include _includes/_js.pug
    
    body
        include _includes/_globalbody.pug
    
        header
            include /_includes/_nav.pug
            +nav('page', true)
            +title('Impressum & Datenschutz', '§', 'DSVGO aktualisiert', '#startreading', false, false, true)
            
        main#startreading
            .page
                span.goldbar
                b.page__text ANGABEN GEMÄSS § 5 TMG
                p.page__text Anschrift & Vertretung: siehe Fußbereich
                
                b.page__text Bildnachweis
                p.page__text Profilfoto "Jonathan Arbely" geschossen von 
                    a(href='http://christian-faessler.de/', target='_blank') Christian Fässler
                p.page__text Iconset “The Essential 2” made by http://www.flaticon.com/authors/madebyoliver from http://www.flaticon.com/packs/essential-set-2
                p.page__text Iconset “Simple Lines” made by https://www.iconfinder.com/kirill.kazachek from https://www.flaticon.com/packs/simple-lines
                p.page__text Icon “Double tick indicator” made by Google from www.flaticon.com is licensed by Creative Commons BY 3.0
                p.page__text Alle sichtbaren Produkt-Logos sind eingetragene Marken und Eigentum der jeweiligen Unternehmen.
                
                b.page__text Haftungsausschluss
                p.page__text Haftung für Inhalte: Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                p.page__text Haftung für Links: Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                p.page__text Urheberrecht: Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
                
                b.page__text Datenschutz
                p.page__text Zusammenfassung: Auf dieser Website kommen Cookies von Google Analytics zum Einsatz. Es werden keine persönlichen oder personenbezogenen Daten gespeichert oder verarbeitet. IP-Adressen werden anonymisiert. Die gesammelten Daten, wie bspw. Besuchsdauer und geöffnete (Unter-) Seiten, werden nicht automatisch gelöscht (unlimited data retention). Im Falle einer Zustimmung zur Anzeige von Inhalten des Drittanbeiters INSTAGRAM, werden Cookies von diesem Dienst auf Ihrem Gerät gespeichert. Informationen dazu finden Sie hier.
                
                p.page__text Diese Website verwendet außerdem ein Cookie, welches keine persönlichen Daten des Besuchers speichert, sondern zur technischen Bereitstellung der Seite benötigt wird und u.a. DDOS-Angriffe verhindern soll, persönliche Daten schützen und eine "Uptime" von 100% garantieren soll. Ohne dieses Cookie ist bymagellan.co nicht aufrufbar. 
                    a(href='https://support.cloudflare.com/hc/en-us/articles/200170156-What-does-the-Cloudflare-cfduid-cookie-do-' target='_blank') Mehr Informationen (support.cloudflare.com)
                
                p.page__text Google Analytics im Detail: Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link (http://tools.google.com/dlpage/gaoptout?hl=de) verfügbare Browser-Plugin herunterladen und installieren.
                p.page__text Sie können die Erfassung durch Google Analytics auch verhindern, indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie gesetzt, das die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website verhindert: 
                    a(href="javascript:gaOptout()") Google Analytics deaktivieren
                p.page__text Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter http://www.google.com/analytics/terms/de.html bzw. unter https://www.google.de/intl/de/policies/. Wir weisen Sie darauf hin, dass auf dieser Website Google Analytics um den Code „anonymizeIp“ erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten.

            section.loadmore.c.loadmore__anime
                img.icon.icon--xs(src='../../assets/images/vector/iconset/prev.svg')
                a(href='/') Zurück zur Startseite
                
        script.
            var gaProperty = 'UA-50961830-5';
            var disableStr = 'ga-disable-' + gaProperty;
            if (document.cookie.indexOf(disableStr + '=true') > -1) {
            window[disableStr] = true;
            }
            function gaOptout() {
            document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
            window[disableStr] = true;
            }
    
    include _includes/_footer.pug