include _includes/_global.pug

include _mixins/_extensions/_integrations.pug

include _mixins/_stats.pug
include _mixins/_appshowcase.pug
include _mixins/_getapp.pug

doctype html
html(lang="en")
    head
        include _includes/_js.pug

        +css('index')
        +meta('en','')
        title Gumb · Become One, Together.

    body
        +beacon('en')
        include _includes/_extensions/_globe.pug

        header
            +nav('en', 'index')
            .hero
                .hero__inner
                    div
                        h1 Become One, Together.
                        h2 We are
                            | 
                            span.gradient.bold Gumb
                            | , a young software startup. We build unique online experiences for you and your groups!
                    .hero__card
                        .hero__card__app
                            img(src='/assets/images/mockups/iphone-overview-cut.png')
                        .hero__card__text
                            b Teamplanbuch
                            p and your team is organized.
                            .flex.flex--items
                                img.icon--m.margin-right(src='/assets/images/tpb-maennli.png')
                                a.dust(href='#tpb')
                                    b Learn more

        main#teamplanbuch

            +appshowcase('en')

            +integrations(1)
            +getapp('en')

            section.section__spacer
                .section__title
                    h6 FOR WHOM WE DO IT
                    h4 At the heart of our value creation we center
                        | 
                        span.gradient you
                        |  and all
                .flex.category__wrapper
                    .category
                        h4.gradient Associa&shy;tions
                    .category
                        h4.gradient Groups
                    .category
                        h4.gradient Teams
                    .category
                        h4.gradient Clubs
                .section__title.business
                    h6 Team- & event management
                    h5 Do you represent a business?
                    p No matter whether in a club or a large company. Our software solutions & apps enable effortless and simple team & event management. Perfect for your organization!
                    a.nav__navigation__item.nav__navigation__item--dark.nav__navigation__item--cta.btn.btn--shadow.startChat.margin-top--30 We are looking forward to your message!

            +stats('en')

        include /_includes/_endofbody.pug
        script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js')
        script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/617753/ThreeOrbitControls.js')
        script(src='https://rawgit.com/spite/THREE.MeshLine/master/src/THREE.MeshLine.js')
        script(src="/assets/javascript/globe.js")

    +footer('en', 'bright')
