include _includes/_global.pug

include _mixins/_extensions/_integrations.pug

include _mixins/_stats.pug
include _mixins/_appshowcase.pug
include _mixins/_getapp.pug

doctype html
html(lang="de")
    head
        include _includes/_js.pug

        +css('index')
        +meta('de','')
        title Gumb · Einswerden, Zusammen.

    body
        include _includes/_extensions/_globe.pug

        header
            +nav('de','index')
            .hero
                .hero__inner
                    div
                        h1 Einswerden, Zusammen.
                        h2 Wir sind
                            | 
                            span.gradient.bold Gumb
                            | , ein junges Software-Startup. Wir bauen einzigartige Online-Erlebnisse für Dich und Deine Gruppen!
                    .hero__card
                        .hero__card__app
                            img(src='/assets/images/mockups/iphone-overview-cut.png')
                        .hero__card__text
                            b Teamplanbuch
                            p und Dein Team ist organisiert!
                            .flex.flex--items
                                img.icon--m.margin-right(src='/assets/images/tpb-maennli.png')
                                a.dust(href='https://www3.teamplanbuch.ch/startseite')
                                    b Direkt zur App

        main#teamplanbuch

            +appshowcase('de')

            +integrations(1)
            +getapp('de')

            section.section__spacer
                .section__title
                    h6 Für Wen wir das machen
                    h4 Im Mittelpunkt bei uns stehst
                        | 
                        span.gradient Du
                        |  und alle
                .flex.category__wrapper
                    .category
                        h4.gradient Vereine
                    .category
                        h4.gradient Gruppen
                    .category
                        h4.gradient Mann&shy;schaften
                    .category
                        h4.gradient Verbände
                .section__title.business
                    h6 Team- & Eventmanagement
                    h5 Sind Sie ein Unternehmen?
                    p Ganz gleich ob im Verein oder im großen Unternehmen. Durch unsere Softwarelösungen & Apps wird Team- & Eventmanagement mühelos und einfach. Auch in Ihrer Organisation!
                    a(class='nav__navigation__item nav__navigation__item--dark nav__navigation__item--cta btn btn--shadow startChat margin-top--30' href="mailto:helpline@teamplanbuch.ch") Wir freuen uns auf Ihre Nachricht!

            +stats('de')

        include /_includes/_endofbody.pug
        script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js')
        script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/617753/ThreeOrbitControls.js')
        script(src='https://rawgit.com/spite/THREE.MeshLine/master/src/THREE.MeshLine.js')
        script(src="/assets/javascript/globe.js")

    +footer('de', 'bright')
