//include _mixins/_card.pug
include _mixins/_css.pug

doctype html
html(lang="de")
    head
        include _includes/_meta.pug
        +meta()

        +css('index')

        include _includes/_js.pug
        link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet")
    
    body
        //-include /_includes/_globalbody.pug
    
        header
            include _includes/_nav.pug
            +nav('index')

            .hero__globe
                div.globe.js-globe
                    ul.globe-list.js-list
                    canvas.globe-canvas.js-canvas

            .hero
                .hero__text
                    h1 Einswerden, Zusammen.
                    h2 Wir sind 
                        b.gradient Gumb
                        | , ein junges Software- Start-up. Wir bauen einzigartige Online- Erlebnisse für Dich und Deinen Verein!
                    br
                    //-.card
                        .card__image
                            img(src='/assets/images/mockups/iphone-overview-cut.png')
                        .card__text
                            b Teamplanbuch
                            p ...und Dein Team ist organisiert!
                            a.flex.flex--items(href='#') 
                                img.maennli.padding-right(src='/assets/images/tpb-maennli.png')
                                b Direkt zur App
            
        main
            section
                .section__title
                    span Unsere erste App
                    h3.gradient Teamplanbuch
                    h3 und Dein Team ist organisiert.
                    p Mit dem Online Spiel- und Trainingsplaner für Vereine, Clubs und Mannschaften organisierst du Dich und Dein Team einfach und schnell. Teamplanbuch ist unsere Terminverwaltungs-App und ist für all Deine Geräte verfügbar.
                br
                br
                br
                .appshowcase
                    .appshowcase__text
                        h4 Organisiere Vereins-termine schnell und unkompliziert
                        p Das Teamplanbuch ermöglicht eine einfache An- und Abmeldung für Trainings, Spiele, Proben, Auftritte oder Sitzungen. Es erspart ewiges Hin-und-Her per E-Mail. Es vermeidet hektische Telefonate und Chats kurz vor anstehenden Terminen.
                    .appshowcase__img
                        img(src='/assets/images/mockups/iphone-overview.png')
                br
                br
                br
                .appshowcase
                    .appshowcase__img
                        img(src='/assets/images/mockups/iphone-menu.png')
                    .appshowcase__text
                        h4 Verschaffe Dir einen Überblick über Termine und Anwesenheit
                        p Leiter und Mitglieder können sich jederzeit mit Internet oder Handy über die Termine und die An-/Abmeldungen im Teamplanbuch informieren. Damit kann jedes Training und jede Probe zuverlässig geplant werden (Wer kommt? Wer übernimmt welche Aufgabe?).

                .appshowcase
                    .appshowcase__text
                        h4 Analysiere Anwesenheit und unentschuldigtes Fernbleiben
                        p Die jährliche Anwesenheit, Termine und unentschuldigtes Fernbleiben können mit dem Teamplanbuch mühelos ausgewertet werden. Diese Statistiken erleichtern das Erstellen von Jahresberichten und Abrechnungen.
                    .appshowcase__img
                        img(src='/assets/images/mockups/surfacestudio-tpb.png')
        
        include _includes/_footer.pug
        //-+footer()

        // Scripts that should run at the end of the body tag
        script(type='module' src='https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js')
        script(nomodule='' src='https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.js')
        script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/617753/ThreeOrbitControls.js')
        script(src='https://rawgit.com/spite/THREE.MeshLine/master/src/THREE.MeshLine.js')
        script(src="/assets/javascript/globe.js")