include _includes/_global.pug
include _mixins/_extensions/_integrations.pug

doctype html
html(lang="en")
    head
        include _includes/_js.pug

        +css('index')
        +meta('en','Become One, Together')
    
    body
        +beacon('en')
        include _includes/_extensions/_globe.pug

        header
            +nav('en', 'index')

            .hero
                .hero__text
                    h1 Become One, Together
                    h2 We are 
                        b.gradient Gumb
                        | , a young software start-up. We build unique online experiences for you and your groups!
            
        main#tpb
            section
                .section__title
                    h6 OUR FIRST APP
                    h3.gradient Teamplanbuch
                    h3 and your team is organized.
                    p With the online game, event and training planner for teams, clubs and associations you can organize yourself and your team easily and quickly. Teamplanbuch is our scheduling app and is available for all your devices.
                br
                br
                br
                .appshowcase
                    .appshowcase__text
                        h4 Organize club dates quick and easy
                        p Teamplanbuch enables easy registration and cancellation for trainings, games, rehearsals, events or meetings. It eliminates the back and forth emails. It avoids hectic phone-calls and chats shortly before upcoming appointments.
                    .appshowcase__img
                        img(src='/assets/images/mockups/iphone-overview.png')
                br
                br
                br
                .appshowcase
                    .appshowcase__img
                        img(src='/assets/images/mockups/iphone-menu.png')
                    .appshowcase__text
                        h4 Get an overview of appointments and attendance
                        p Leaders and members can inform themselves at any time about the dates and the registration/deregistration. This allows each training session, event and rehearsal to be reliably planned (Who attends? Who does what?).
                br
                br
                br
                .appshowcase
                    .appshowcase__text
                        h4 Analyze attendance and unexcused absence
                        p The annual attendance, appointments and unexcused absences can be easily evaluated within a few seconds. These statistics facilitate the creation of annual reports and accounts.
                    .appshowcase__img
                        img(src='/assets/images/mockups/surfacestudio-tpb.png')

            +integrations(1)

            section
                .section__title
                    h6 iOS, Android &amp; and the web
                    h4 Teamplanbuch, on all your devices.
                    p Get the app and test it 40 days for free.
                .flex
                    a(href='#')
                        img.apps(src='/assets/vector/apps/en/ios.svg')
                    a(href='#')
                        img.apps(src='/assets/vector/apps/en/droid.svg')
                    a(href='#')
                        img.apps(src='/assets/vector/apps/en/web.svg')

            section.section__spacer
                .section__title
                    h6 FOR WHOM WE DO IT
                    h4 At the heart of our value creation we center 
                        span.gradient You
                        |  and all
                .flex
                    .category
                        h4.gradient Associations
                    .category
                        h4.gradient Groups
                    .category
                        h4.gradient Teams
                    .category
                        h4.gradient Clubs
                .section__title
                    h6 Team- & event management
                    h5 Are you here on business?
                    p No matter whether in a club or in a large company. Our software solutions & apps enable effortless and simple team & event management. Also in your organization!
                    br
                    br
                    a.nav__navigation__item.nav__navigation__item--dark.nav__navigation__item--cta.btn.btn--shadow.startChat We are looking forward to your message!

            section.section__spacer
                .section__title
                    h4 Die Statistiken & Zahlen
                    p …die unsere Geschichte erzählen.
                .flex.section__content
                    .flex.facts
                        h3 345
                        h6 Vereine
                    .flex.facts
                        h3 55%
                        h6 mehr als eine Lizenz
                    .flex.facts
                        .flex
                            .gps__wrapper.flex
                                .gps
                                    .pulse
                                    .dot
                                h3.gradient 899
                        h6 Gerade online
                    .flex.facts
                        h3 1111
                        h6 Bewertungen
                    .flex.facts
                        h3 7234
                        h6 Anlässe & Termine
                .flex
                    .flex.facts.facts--nomargin
                        h3 230
                        .timeline__item
                            .timeline__dot
                        h6 Registrierte Mitglieder
                    .timeline
                    .flex.facts.facts--nomargin
                        h3 5
                        .timeline__item
                            .timeline__dot
                        h6 in 5 Ländern
                    .timeline.timeline--mod
                    .flex.facts.facts--nomargin
                        h3 2000
                        .timeline__item
                            .timeline__dot
                        h6 Senden sich täglich Über 2k Nachrichten

        include /_includes/_endofbody.pug
        script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.js')
        script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/617753/ThreeOrbitControls.js')
        script(src='https://rawgit.com/spite/THREE.MeshLine/master/src/THREE.MeshLine.js')
        script(src="/assets/javascript/globe.js")

    +footer('en', 'bright')
