include _mixins/_css.pug
include _mixins/_extensions/_integrations.pug
include _includes/_nav.pug
include _includes/_footer.pug

doctype html
html(lang="en")
    head
        include _includes/_meta.pug
        +css('index')
        include _includes/_js.pug
    
    body
        include _includes/_globalbody.pug
        include _includes/_extensions/_globe.pug

        header
            +nav('en', 'index')

            .hero
                .hero__text
                    h1 Einswerden, Zusammen.
                    h2 Wir sind 
                        b.gradient Gumb
                        | , ein junges Software- Start-up. Wir bauen einzigartige Online- Erlebnisse für Dich und Deine Gruppen!
            
        main
            section
                .section__title
                    h6 Unsere erste App
                    h3.gradient Teamplanbuch
                    h3 und Dein Team ist organisiert.
                    p Mit dem Online Spiel- und Trainingsplaner für Vereine, Clubs und Mannschaften organisierst du Dich und Dein Team einfach und schnell. Teamplanbuch ist unsere Terminverwaltungs-App und ist für all Deine Geräte verfügbar.
                br
                br
                br
                .appshowcase
                    .appshowcase__text
                        h4 Organisiere Vereins-termine schnell und unkompliziert
                        p Das Teamplanbuch ermöglicht eine einfache An- und Abmeldung für Trainings, Spiele, Proben, Auftritte oder Sitzungen. Es erspart ewiges Hin-und-Her per E-Mail. Es vermeidet hektische Telefonate und Chats kurz vor anstehenden Terminen.
                    .appshowcase__img
                        img(src='/assets/images/mockups/iphone-overview.png')
                br
                br
                br
                .appshowcase
                    .appshowcase__img
                        img(src='/assets/images/mockups/iphone-menu.png')
                    .appshowcase__text
                        h4 Verschaffe Dir einen Überblick über Termine und Anwesenheit
                        p Leiter und Mitglieder können sich jederzeit mit Internet oder Handy über die Termine und die An-/Abmeldungen im Teamplanbuch informieren. Damit kann jedes Training und jede Probe zuverlässig geplant werden (Wer kommt? Wer übernimmt welche Aufgabe?).

                .appshowcase
                    .appshowcase__text
                        h4 Analysiere Anwesenheit und unentschuldigtes Fernbleiben
                        p Die jährliche Anwesenheit, Termine und unentschuldigtes Fernbleiben können mit dem Teamplanbuch mühelos ausgewertet werden. Diese Statistiken erleichtern das Erstellen von Jahresberichten und Abrechnungen.
                    .appshowcase__img
                        img(src='/assets/images/mockups/surfacestudio-tpb.png')

            +integrations(1)

            section
                .section__title
                    h6 iOS, Android &amp; im Web
                    h4 Teamplanbuch, auf all Deinen Geräten.
                    p Lade die App und teste 40 Tage kostenlos.
                .flex
                    a(href='#')
                        img.apps(src='/assets/vector/apps/en/ios.svg')
                    a(href='#')
                        img.apps(src='/assets/vector/apps/en/droid.svg')
                    a(href='#')
                        img.apps(src='/assets/vector/apps/en/web.svg')

            section.section__spacer
                .section__title
                    h6 Für Wen wir das machen
                    h4 Im Mittelpunkt bei uns stehst 
                        span.gradient Du
                        |  und alle
                .flex
                    .category
                        h4.gradient Vereine
                    .category
                        h4.gradient Gruppen
                    .category
                        h4.gradient Mann-schaften
                    .category
                        h4.gradient Verbände
                .section__title
                    h6 Team- & Eventmanagement
                    h5 Sind Sie ein Unternehmen?
                    p Ganz gleich ob im Verein oder im großen Unternehmen. Durch unsere Softwarelösungen & Apps wird Team- & Eventmanagement mühelos und einfach. Auch in Ihrer Organisation!
                    br
                    br
                    a.nav__navigation__item.nav__navigation__item--dark.nav__navigation__item--cta.btn.btn--shadow.startChat Wir freuen uns auf Ihre Nachricht!

            section.section__spacer
                .section__title
                    h4 Die Statistiken & Zahlen
                    p …die unsere Geschichte erzählen.
                .flex.section__content
                    .flex.facts
                        h3 345
                        h6 Vereine
                    .flex.facts
                        h3 55%
                        h6 mehr als eine Lizenz
                    .flex.facts
                        .flex
                            .gps__wrapper.flex
                                .gps
                                    .pulse
                                    .dot
                                h3.gradient 899
                        h6 Gerade online
                    .flex.facts
                        h3 1111
                        h6 Bewertungen
                    .flex.facts
                        h3 7234
                        h6 Anlässe & Termine
                .flex
                    .flex.facts.facts--nomargin
                        h3 230
                        .timeline__item
                            .timeline__dot
                        h6 Registrierte Mitglieder
                    .timeline
                    .flex.facts.facts--nomargin
                        h3 5
                        .timeline__item
                            .timeline__dot
                        h6 in 5 Ländern
                    .timeline.timeline--mod
                    .flex.facts.facts--nomargin
                        h3 2000
                        .timeline__item
                            .timeline__dot
                        h6 Senden sich täglich Über 2k Nachrichten

        include /_includes/_endofbody.pug
        script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.js')
        script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/617753/ThreeOrbitControls.js')
        script(src='https://rawgit.com/spite/THREE.MeshLine/master/src/THREE.MeshLine.js')
        script(src="/assets/javascript/globe.js")

    +footer('de', 'bright')