include _includes/_global.pug

doctype html
html(lang="de").page--dark
    head
        include _includes/_js.pug

        +css()
        +meta('de','Unsere Mission & Vision')
    
    body
        
        header
            +nav('de', 'page')

        main
            
            section.margin-top--55
                .section__inner.section__inner--card.margin-top--55
                    .section__title.section__title--ltr
                        h6.whitewater Unser Warum
                        h3.white 
                            span.gradient Unsere Mission
                            |  ist es, alle Gruppen und Gemeinschaften der Welt zu inspirieren, auszurüsten und zu mobilisieren, damit sie sich verbinden, organisieren und wachsen können.
            
            section.margin-top--370
                .section__inner.section__inner--card
                    .section__title.section__title--ltr
                        h6.whitewater Unser Wie
                        h3.white 
                            span.gradient Unsere Vision
                            |  ist es, eine globale und mobile Plattform zu bauen, die jedes Mitglied einer Gruppe gerne nutzt.
                        br
                        br
                        p.whitewater.widetext Wir verstehen uns als Dienstleister für Gemeinschaften und ein modernes Zusammensein. Wir nehmen die Herausforderungen an, dir als Mitglied und euch als Gruppe zu helfen, sich digital zu vernetzen, zu organisieren und zu wachsen.
                        
        include /_includes/_endofbody.pug

    +footer('de')
