include _includes/_global.pug

doctype html
html(lang="en").page--dark
    head
        include _includes/_js.pug

        +css()
        +meta('en','Our Mission & Vision')
    
    body
        
        header
            +nav('en', 'page')

        main
            section.margin-top--55
                .section__inner.section__inner--card.margin-top--55
                    .section__title.section__title--ltr
                        h6.whitewater Our Why
                        h3.white 
                            span.gradient It is our Mission
                            |  to inspire, equip and mobilize the world's clubs and communities that they can connect, organize and grow.
            
            section.margin-top--370
                .section__inner.section__inner--card
                    .section__title.section__title--ltr
                        h6.whitewater Our How
                        h3.white 
                            span.gradient Our Vision
                            |  is to build a mobile platform that every member of a club and group loves to use.
                        br
                        br
                        p.whitewater.widetext We see ourselves as a service provider for communities and a modern togetherness. We accept the challenges of helping you as a member and you as a group to digitally network, organize and grow.
                        
        include /_includes/_endofbody.pug

    +footer('en')
