include _includes/_global.pug

doctype html
html(lang="en").page--dark
    head
        include _includes/_js.pug

        +css()
        +meta('en','Our Mission & Vision')
    
    body
        +beacon('en')
        
        header
            +nav('en', 'page')

        main
            section.margin-top--55
                .section__inner.section__inner--card.margin-top--55
                    .section__title.section__title--ltr
                        h6.whitewater Our Why
                        h3.white 
                            span.gradient It is our Mission
                            |  to inspire, equip and mobilizing the world's clubs and societies that they can connect, organize and grow.
            
            section.margin-top--370
                .section__inner.section__inner--card
                    .section__title.section__title--ltr
                        h6.whitewater Our How
                        h3.white 
                            span.gradient Our Vision
                            |  is to build a mobile platform that every member of a club and group loves to use.
                        br
                        br
                        p.whitewater.widetext Wir verstehen uns als Dienstleister für ein modernes Vereinswesen und Zusammensein. Wir nehmen die Herausforderungen an, dir als Mitglied und euch als Gruppe zu helfen, sich digital zu vernetzen, zu organisieren und zu wachsen.
                        
        include /_includes/_endofbody.pug

    +footer('en')
