mixin appshowcase(lang, title)
    section
        if title != 'notitle'
            .section__title
                if lang == 'de'
                    h6 Unsere erste App
                    h3.gradient Teamplanbuch
                    h3 und Dein Team ist organisiert.
                    p Mit dem Online Spiel- und Trainingsplaner für Vereine, Clubs und Mannschaften organisierst du Dich und Dein Team einfach und schnell. Teamplanbuch ist unsere Terminverwaltungs-App und ist für all Deine Geräte verfügbar.
                else
                    h6 OUR FIRST APP
                    h3.gradient Teamplanbuch
                    h3 and your team is organized.
                    p With the online game, event and training planner for teams, clubs and associations you can organize yourself and your team easily and quickly. Teamplanbuch is our scheduling app and is available for all your devices.
            br
            br
            br
    
        .appshowcase
            .appshowcase__text
                if lang == 'de'
                    h4 Organisiere Vereins-Termine schnell und unkompliziert
                    p Das Teamplanbuch ermöglicht eine einfache An- und Abmeldung für Trainings, Spiele, Proben, Auftritte oder Sitzungen. Es erspart ewiges Hin-und-Her per E-Mail. Es vermeidet hektische Telefonate und Chats kurz vor anstehenden Terminen.
                else
                    h4 Organize club dates quick and easy
                    p Teamplanbuch enables easy registration and cancellation for trainings, games, rehearsals, events or meetings. It eliminates the back and forth emails. It avoids hectic phone-calls and chats shortly before upcoming appointments.
            .appshowcase__img
                img(src='/assets/images/mockups/iphone-overview.png')
    
        .appshowcase.appshowcase--reverse
            .appshowcase__img
                img(src='/assets/images/mockups/iphone-menu.png')
            .appshowcase__text
                if lang == 'de'
                    h4 Verschaffe Dir einen Überblick über Termine und Anwesenheit
                    p Leiter und Mitglieder können sich jederzeit mit Internet oder Handy über die Termine und die An-/Abmeldungen im Teamplanbuch informieren. Damit kann jedes Training und jede Probe zuverlässig geplant werden (Wer kommt? Wer übernimmt welche Aufgabe?).
                else
                    h4 Get an overview of appointments and attendance
                    p Leaders and members can inform themselves at any time about the dates and the registration/deregistration. This allows each training session, event and rehearsal to be reliably planned (Who attends? Who does what?).
        br
        br
        br
        .appshowcase
            .appshowcase__text
                if lang == 'de'
                    h4 Analysiere Anwesenheit und unentschuldigtes Fernbleiben
                    p Die jährliche Anwesenheit, Termine und unentschuldigtes Fernbleiben können mit dem Teamplanbuch mühelos ausgewertet werden. Diese Statistiken erleichtern das Erstellen von Jahresberichten und Abrechnungen.
                else
                    h4 Analyze attendance and unexcused absence
                    p The annual attendance, appointments and unexcused absences can be easily evaluated within a few seconds. These statistics facilitate the creation of annual reports and accounts.
            .appshowcase__img
                img(src='/assets/images/mockups/surfacestudio-tpb.png')