mixin card()
    .card
        .card__image
            img(src='/assets/images/mockups/iphone-overview-cut.png')
        .card__text
            b Teamplanbuch
            p ...und Dein Team ist organisiert!
            a.flex.flex--items(href='#') 
                img.maennli.padding-right(src='/assets/images/tpb-maennli.png')
                b Direkt zur App