mixin css(page)
    link(rel='stylesheet' href='/assets/stylesheets/artofgumb.css')
    
    if(page == 'index')
        link(rel='stylesheet' href='/assets/stylesheets/pagespecific/index.css')
    else
        link(rel='stylesheet' href='/assets/stylesheets/pagespecific/page.css')