mixin getapp(lang)
    section
        .section__title
            if lang == 'de'
                h6 iOS, Android &amp; im Web
                h4 Teamplanbuch, 
                    br 
                    | auf all Deinen Geräten.
                p Hol Dir die App und teste 40 Tage kostenlos.
            else
                h6 iOS, Android & web
                h4 Teamplanbuch, 
                    br 
                    | on all your devices.
                p Get the app and test it 40 days for free.
        .flex.apps__wrapper
            if lang == 'de'
                a(href='https://apps.apple.com/de/app/teamplanbuch2/id1198240785' target='_blank')
                    img.apps(src='/assets/vector/apps/de/ios.svg')
                a(href='https://play.google.com/store/apps/details?id=com.teamplanbuch.app' target='_blank')
                    img.apps(src='/assets/vector/apps/de/droid.svg')
                a(href='https://www3.teamplanbuch.ch/' target='_blank')
                    img.apps(src='/assets/vector/apps/de/web.svg')
            else
                a(href='https://apps.apple.com/de/app/teamplanbuch2/id1198240785' target='_blank')
                    img.apps(src='/assets/vector/apps/en/ios.svg')
                a(href='https://play.google.com/store/apps/details?id=com.teamplanbuch.app' target='_blank')
                    img.apps(src='/assets/vector/apps/en/droid.svg')
                a(href='https://www3.teamplanbuch.ch/' target='_blank')
                    img.apps(src='/assets/vector/apps/en/web.svg')