mixin footer(lang)
    if !lang
        footer.darkmode
            .contact
                .contact__nav
                    a.contact__navItem.contact__navItem--active(href='#') Kontakt
                    a.contact__navItem(href='#') Anfahrt
                .contact__inner
                    div
                        b.padding-bottom Adresse
                        p Büsingerstrasse 5
                        p 8203 Schaffhausen
                        p Schweiz
                    div
                        b.padding-bottom E-Mail
                        p
                            a(href='mailto:info@gumb.ch') info@gumb.ch
                    div
                        b.padding-bottom Phone
                        p
                            a(href='tel:+41445867002') +41 44 586 70 02
                    div
                        b.padding-bottom Kontaktiere uns direkt