mixin footer(lang)
    if !lang
        footer.darkmode
            .contact
                .contact__nav
                    a.contact__navItem.contact__navItem--active(href='#') Kontakt
                    a.contact__navItem(href='#') Anfahrt
                .contact__inner
                    div
                        b.padding-bottom Adresse
                        p Büsingerstrasse 5
                        p 8203 Schaffhausen
                        p Schweiz
                    div
                        b.padding-bottom E-Mail
                        p
                            a(href='mailto:info@gumb.ch') info@gumb.ch
                    div
                        b.padding-bottom Phone
                        p
                            a(href='tel:+41445867002') +41 44 586 70 02
                    div
                        b.padding-bottom Kontaktiere uns direkt

            iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85931.51112417133!2d8.58887475655959!3d47.696853279190854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a81c3d5d8a25d%3A0xc5743cbccb70dd4f!2sB%C3%BCsingerstrasse%205%2C%208203%20Schaffhausen%2C%20Switzerland!5e0!3m2!1sen!2sde!4v1583261342082!5m2!1sen!2sde" frameborder="0" allowfullscreen="")