include ../_mixins/_extensions/_googlemaps.pug

mixin footer(lang, theme, page)
    if lang == 'de'
        if theme == 'bright'
            footer
                .contact.contact--bright
                    .contact__nav.contact__nav--bright
                        a.contact__navItem.contact__navItem--active Kontakt
                        //-a.contact__navItem(href='#') Anfahrt
                    .contact__inner
                        div
                            b.padding-bottom.nebula Adresse
                            p Büsingerstrasse 5
                            p 8203 Schaffhausen
                            p Schweiz
                        div
                            b.padding-bottom.nebula E-Mail
                            p
                                a(href='mailto:info@gumb.ch') info@gumb.ch
                        div
                            b.padding-bottom.nebula Phone
                            p
                                a(href='tel:+41445867002') +41 44 586 70 02
                        div
                            b.padding-bottom.nebula Kontaktiere uns direkt
                            a.nav__navigation__item.nav__navigation__item--dark.nav__navigation__item--cta.btn.btn--shadow.startChat Chatte mit uns!

                +map('dark')

                .footer.footer--bright
                    .footer__inner
                        div
                            a.nav__brand.padding-bottom(href='/')
                                img.logo.padding-bottom(src='/assets/vector/gumb.svg')
                            p.footer__meta Alle Rechte vorbehalten.
                            p.footer__meta © Gumb AG
                        div
                            b.padding-bottom.nebula Navigation
                            if page != 'tpb'
                                p
                                    a(href='/') Home
                                p
                                    a(href='/about.html') Über uns
                                p
                                    a(href='/mission-vision.html') Warum & Wie
                                p
                                    a(href='/community.html') Community
                            else
                                p
                                    a(href='#') Start
                                p
                                    a(href='#preise') Abos und Preise
                                p
                                    a(href='#statistiken') Statistiken
                                p
                                    a.startChat Hilfe
                        div
                            b.padding-bottom.nebula Über Gumb
                            p
                                a(href='/about.html#team') Unser Team
                            p
                                a(href='/mission-vision.html') Mission & Vision
                            p
                                a(href='/about.html#milestones') Unsere Geschichte
                        div
                            b.padding-bottom.nebula Kontakt & Feedback
                            p
                                a(href='/community.html#social') Soziale Kanäle
                            p
                                a.startChat Schreibe uns
                            p
                                a(href='https://www.google.com/maps/place/Gumb+AG/@47.6968533,8.6567239,17z/data=!3m1!4b1!4m5!3m4!1s0x479a81c3d5deaaab:0xfc528db9ac381fa6!8m2!3d47.6968533!4d8.6589126' target='_blank') Besuche uns in Schaffhausen, CH
                        //-div
                            b.padding-bottom.nebula Unsere Mailingliste
                    .footer__social
                        a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                            ion-icon(name="logo-facebook")
                        a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                            ion-icon(name="logo-linkedin")
                        a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                            ion-icon(name="logo-twitter")
                        a.padding-right(href='https://www.xing.com/companies/gumbag' target='_blank')
                            ion-icon(name="logo-xing")
                        a.padding-right(href='https://www.instagram.com/gumbapp/' target='_blank') 
                            ion-icon(name="logo-instagram")
                        .wall.wall--bright.margin-right
                        //-a.padding-right(href='#' target='_blank')
                            ion-icon(name="logo-dribbble")
                        a.padding-right(href='https://github.com/jonathanarbely/gumbag' target='_blank') 
                            ion-icon(name="logo-github")

                    .footer__legal
                        a.footer__meta(href="/impressum.html") Impressum & Datenschutz
        else
            footer.footer--dark.darkmode
                .contact
                    .contact__nav
                        a.contact__navItem.contact__navItem--active Kontakt
                        //-a.contact__navItem(href='#') Anfahrt
                    .contact__inner
                        div
                            b.padding-bottom Adresse
                            p Büsingerstrasse 5
                            p 8203 Schaffhausen
                            p Schweiz
                        div
                            b.padding-bottom E-Mail
                            p
                                a(href='mailto:info@gumb.ch') info@gumb.ch
                        div
                            b.padding-bottom Phone
                            p
                                a(href='tel:+41445867002') +41 44 586 70 02
                        div
                            b.padding-bottom Kontaktiere uns direkt
                            a.nav__navigation__item.nav__navigation__item--cta.btn.startChat Chatte mit uns!

                +map('bright')

                .footer
                    .footer__inner
                        div
                            a.nav__brand.padding-bottom(href='/')
                                img.logo.padding-bottom(src='/assets/vector/gumb.svg')
                            p.footer__meta Alle Rechte vorbehalten.
                            p.footer__meta © Gumb AG
                        div
                            b.padding-bottom Navigation
                            p
                                a(href='/') Home
                            p
                                a(href='/about.html') Über uns
                            p
                                a(href='/mission-vision.html') Warum & Wie
                            p
                                a(href='/community.html') Community
                        div
                            b.padding-bottom Über Gumb
                            p
                                a(href='/about.html#team') Unser Team
                            p
                                a(href='/mission-vision.html') Mission & Vision
                            p
                                a(href='/about.html#milestones') Unsere Geschichte
                        div
                            b.padding-bottom Kontakt & Feedback
                            p
                                a(href='/community.html#social') Soziale Kanäle
                            p
                                a.startChat Schreibe uns
                            p
                                a(href='https://www.google.com/maps/place/Gumb+AG/@47.6968533,8.6567239,17z/data=!3m1!4b1!4m5!3m4!1s0x479a81c3d5deaaab:0xfc528db9ac381fa6!8m2!3d47.6968533!4d8.6589126' target='_blank') Besuche uns in Schaffhausen, CH
                        //div
                            b.padding-bottom Unsere Mailingliste
                    .footer__social
                        a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                            ion-icon(name="logo-facebook")
                        a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                            ion-icon(name="logo-linkedin")
                        a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                            ion-icon(name="logo-twitter")
                        a.padding-right(href='https://www.xing.com/companies/gumbag' target='_blank')
                            ion-icon(name="logo-xing")
                        a.padding-right(href='https://www.instagram.com/gumbapp/' target='_blank') 
                            ion-icon(name="logo-instagram")
                        .wall.margin-right
                        //-a.padding-right(href='#' target='_blank')
                            ion-icon(name="logo-dribbble")
                        a.padding-right(href='https://github.com/jonathanarbely/gumbag' target='_blank') 
                            ion-icon(name="logo-github")

                    .footer__legal
                        a.footer__meta(href="/impressum.html") Impressum & Datenschutz

    else
        if theme == 'bright'
            footer
                .contact.contact--bright
                    .contact__nav.contact__nav--bright
                        a.contact__navItem.contact__navItem--active Contact
                        //-a.contact__navItem(href='#') Anfahrt
                    .contact__inner
                        div
                            b.padding-bottom.nebula Address
                            p Büsingerstrasse 5
                            p 8203 Schaffhausen
                            p Switzerland
                        div
                            b.padding-bottom.nebula E-Mail
                            p
                                a(href='mailto:info@gumb.ch') info@gumb.ch
                        div
                            b.padding-bottom.nebula Phone
                            p
                                a(href='tel:+41445867002') +41 44 586 70 02
                        div
                            b.padding-bottom.nebula Contact us directly
                            a.nav__navigation__item.nav__navigation__item--dark.nav__navigation__item--cta.btn.btn--shadow.startChat Start a chat!

                +map('dark')

                .footer.footer--bright
                    .footer__inner
                        div
                            a.nav__brand.padding-bottom(href='/index.en.html')
                                img.logo.padding-bottom(src='/assets/vector/gumb.svg')
                            p.footer__meta All rights reserved.
                            p.footer__meta © Gumb AG
                        div
                            b.padding-bottom.nebula Navigation
                            p
                                a(href='/index.en.html') Home
                            p
                                a(href='/about.en.html') About us
                            p
                                a(href='/mission-vision.en.html') Why & How
                            p
                                a(href='/community.en.html') Community
                        div
                            b.padding-bottom.nebula About Gumb
                            p
                                a(href='/about.en.html#team') Our Team
                            p
                                a(href='/mission-vision.en.html') Mission & Vision
                            p
                                a(href='/about.en.html#milestones') Our History
                        div
                            b.padding-bottom.nebula Contact & Feedback
                            p
                                a(href='/community.en.html#social') Social Media
                            p
                                a.startChat Contact us
                            p
                                a(href='https://www.google.com/maps/place/Gumb+AG/@47.6968533,8.6567239,17z/data=!3m1!4b1!4m5!3m4!1s0x479a81c3d5deaaab:0xfc528db9ac381fa6!8m2!3d47.6968533!4d8.6589126' target='_blank') Visit us in Schaffhausen, CH
                        //-div
                            b.padding-bottom.nebula Unsere Mailingliste
                    .footer__social
                        a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                            ion-icon(name="logo-facebook")
                        a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                            ion-icon(name="logo-linkedin")
                        a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                            ion-icon(name="logo-twitter")
                        a.padding-right(href='https://www.xing.com/companies/gumbag' target='_blank')
                            ion-icon(name="logo-xing")
                        a.padding-right(href='https://www.instagram.com/gumbapp/' target='_blank') 
                            ion-icon(name="logo-instagram")
                        .wall.wall--bright.margin-right
                        //-a.padding-right(href='#' target='_blank')
                            ion-icon(name="logo-dribbble")
                        a.padding-right(href='https://github.com/jonathanarbely/gumbag' target='_blank') 
                            ion-icon(name="logo-github")

                    .footer__legal
                        a.footer__meta(href="/impressum.en.html") Imprint & Data protection

        else
            footer.footer--dark.darkmode
                .contact
                    .contact__nav
                        a.contact__navItem.contact__navItem--active Contact
                        //-a.contact__navItem(href='#') Anfahrt
                    .contact__inner
                        div
                            b.padding-bottom Address
                            p Büsingerstrasse 5
                            p 8203 Schaffhausen
                            p Switzerland
                        div
                            b.padding-bottom E-Mail
                            p
                                a(href='mailto:info@gumb.ch') info@gumb.ch
                        div
                            b.padding-bottom Phone
                            p
                                a(href='tel:+41445867002') +41 44 586 70 02
                        div
                            b.padding-bottom Contact us directly
                            a.nav__navigation__item.nav__navigation__item--cta.btn.startChat Start a chat!

                +map('bright')

                .footer
                    .footer__inner
                        div
                            a.nav__brand.padding-bottom(href='/index.en.html')
                                img.logo.padding-bottom(src='/assets/vector/gumb.svg')
                            p.footer__meta All rights reserved.
                            p.footer__meta © Gumb AG
                        div
                            b.padding-bottom Navigation
                            p
                                a(href='/index.en.html') Home
                            p
                                a(href='/about.en.html') About us
                            p
                                a(href='/mission-vision.en.html') Why & How
                            p
                                a(href='/community.en.html') Community
                        div
                            b.padding-bottom About Gumb
                            p
                                a(href='/about.en.html#team') Our Team
                            p
                                a(href='/mission-vision.en.html') Mission & Vision
                            p
                                a(href='/about.en.html#milestones') Our History
                        div
                            b.padding-bottom Contact & Feedback
                            p
                                a(href='/community.en.html#social') Social Media
                            p
                                a.startChat Contact us
                            p
                                a(href='https://www.google.com/maps/place/Gumb+AG/@47.6968533,8.6567239,17z/data=!3m1!4b1!4m5!3m4!1s0x479a81c3d5deaaab:0xfc528db9ac381fa6!8m2!3d47.6968533!4d8.6589126' target='_blank') Visit us in Schaffhausen, CH
                        //div
                            b.padding-bottom Unsere Mailingliste
                    .footer__social
                        a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                            ion-icon(name="logo-facebook")
                        a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                            ion-icon(name="logo-linkedin")
                        a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                            ion-icon(name="logo-twitter")
                        a.padding-right(href='https://www.xing.com/companies/gumbag' target='_blank')
                            ion-icon(name="logo-xing")
                        a.padding-right(href='https://www.instagram.com/gumbapp/' target='_blank') 
                            ion-icon(name="logo-instagram")
                        .wall.margin-right
                        //-a.padding-right(href='#' target='_blank')
                            ion-icon(name="logo-dribbble")
                        a.padding-right(href='https://github.com/jonathanarbely/gumbag' target='_blank') 
                            ion-icon(name="logo-github")

                    .footer__legal
                        a.footer__meta(href="/impressum.en.html") Imprint & Data protection