mixin nav(lang, page, theme, brand)

    if lang == 'de'
        if page == 'index'
            .nav__wrapper.nav__wrapper--dark
                nav.nav
                    a.nav__brand(href='#')
                        img.logo(src='/assets/vector/gumb.svg')
                        img.logo.hide(src='/assets/vector/gumb-brand.svg')
                    nav.nav__navigation.nav__navigation--de
                        a.nav__navigation__item.btn.btn--glass(href='#') Home
                        a.nav__navigation__item.btn.btn--glass(href='#teamplanbuch') Unsere Apps
                        a.nav__navigation__item.btn.btn--glass(href='/mission-vision') Warum & Wie
                        a.nav__navigation__item.btn.btn--glass(href='/about') Über uns
                        a.nav__navigation__item.btn.btn--glass(href='/community') Community
                        select.nav__navigation__select.nav__navigation__item#mobileNav
                            option(value='#' selected) Navigation
                            option(value='#') Home
                            option(value='#teamplanbuch') Unsere Apps
                            option(value='/mission-vision') Warum & Wie
                            option(value='/about') Über uns
                            option(value='/community') Community
                    nav.nav__social
                        a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                            ion-icon(name="logo-facebook" size="small")
                        a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                            ion-icon(name="logo-linkedin" size="small")
                        a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                            ion-icon(name="logo-twitter" size="small")
                        a.nav__navigation__lang.padding-left(href='/index.en' title='Switch to English') EN
                            ion-icon(name="ios-arrow-round-forward")
        else
            if theme == 'dark'
                .nav__wrapper
                    nav.nav
                        a.nav__brand(href='/')
                            img.logo(src='/assets/vector/gumb-brand-dark.svg')
                        nav.nav__navigation.nav__navigation--de
                            a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='/') Home
                            a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='/#teamplanbuch') Unsere Apps
                            a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='/mission-vision') Warum & Wie
                            a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='/about') Über uns
                            a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='/community') Community
                            select.nav__navigation__select.nav__navigation__item.select--dark#mobileNav
                                option(value='#' selected) Navigation
                                option(value='/') Home
                                option(value='/#teamplanbuch') Unsere Apps
                                option(value='/mission-vision') Warum & Wie
                                option(value='/about') Über uns
                                option(value='/community') Community
                        nav.nav__social.nav__social--dark
                            a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                                ion-icon(name="logo-facebook" size="small")
                            a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                                ion-icon(name="logo-linkedin" size="small")
                            a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                                ion-icon(name="logo-twitter" size="small")
                            a.nav__navigation__lang.padding-left(href='/index.en' title='Switch to English') EN
                                ion-icon(name="ios-arrow-round-forward")
            else
                .nav__wrapper.nav__wrapper--dark
                    nav.nav
                        a.nav__brand(href='/')
                            if brand == 'white'
                                img.logo(src='/assets/vector/gumb-brand-white.svg')
                            else
                                img.logo(src='/assets/vector/gumb-brand.svg')
                        nav.nav__navigation.nav__navigation--de
                            a.nav__navigation__item.btn.btn--glass(href='/') Home
                            a.nav__navigation__item.btn.btn--glass(href='/#teamplanbuch') Unsere Apps
                            a.nav__navigation__item.btn.btn--glass(href='/mission-vision') Warum & Wie
                            a.nav__navigation__item.btn.btn--glass(href='/about') Über uns
                            a.nav__navigation__item.btn.btn--glass(href='/community') Community
                            select.nav__navigation__select.nav__navigation__item#mobileNav
                                option(value='#' selected) Navigation
                                option(value='/') Home
                                option(value='/#teamplanbuch') Unsere Apps
                                option(value='/mission-vision') Warum & Wie
                                option(value='/about') Über uns
                                option(value='/community') Community
                        nav.nav__social
                            a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                                ion-icon(name="logo-facebook" size="small")
                            a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                                ion-icon(name="logo-linkedin" size="small")
                            a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                                ion-icon(name="logo-twitter" size="small")
                            a.nav__navigation__lang.padding-left(href='/index.en' title='Switch to English') EN
                                ion-icon(name="ios-arrow-round-forward")
    else
        if page == 'index'
            .nav__wrapper.nav__wrapper--dark
                nav.nav
                    a.nav__brand(href='#')
                        img.logo(src='/assets/vector/gumb.svg')
                        img.logo.hide(src='/assets/vector/gumb-brand.svg')
                    nav.nav__navigation.nav__navigation--de
                        a.nav__navigation__item.btn.btn--glass(href='#') Home
                        a.nav__navigation__item.btn.btn--glass(href='/index.en#teamplanbuch') Our Apps
                        a.nav__navigation__item.btn.btn--glass(href='/mission-vision.en') Why & How
                        a.nav__navigation__item.btn.btn--glass(href='/about.en') About us
                        a.nav__navigation__item.btn.btn--glass(href='/community.en') Community
                        select.nav__navigation__select.nav__navigation__item#mobileNav
                            option(value='#' selected) Navigation
                            option(value='#') Home
                            option(value='/index.en#teamplanbuch') Our Apps
                            option(value='/mission-vision.en') Why & How
                            option(value='/about.en') About us
                            option(value='/community.en') Community
                    nav.nav__social
                        a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                            ion-icon(name="logo-facebook" size="small")
                        a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                            ion-icon(name="logo-linkedin" size="small")
                        a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                            ion-icon(name="logo-twitter" size="small")
                        a.nav__navigation__lang.padding-left(href='/' title='Zu Deutsch wechseln') DE
                            ion-icon(name="ios-arrow-round-forward")
        else
            if theme == 'dark'
                .nav__wrapper
                    nav.nav
                        a.nav__brand(href='/')
                            img.logo(src='/assets/vector/gumb-brand-dark.svg')
                        nav.nav__navigation.nav__navigation--de
                            a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='/index.en') Home
                            a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='/#teamplanbuch') Our Apps
                            a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='/mission-vision.en') Why & How
                            a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='/about.en') About us
                            a.nav__navigation__item.nav__navigation__item--dark.btn.btn--glass(href='/community.en') Community
                            select.nav__navigation__select.nav__navigation__item.select--dark#mobileNav
                                option(value='#' selected) Navigation
                                option(value='/index.en') Home
                                option(value='/index.en#teamplanbuch') Our Apps
                                option(value='/mission-vision.en') Why & How
                                option(value='/about.en') About us
                                option(value='/community.en') Community
                        nav.nav__social.nav__social--dark
                            a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                                ion-icon(name="logo-facebook" size="small")
                            a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                                ion-icon(name="logo-linkedin" size="small")
                            a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                                ion-icon(name="logo-twitter" size="small")
                            a.nav__navigation__lang.padding-left(href='/' title='Zu Deutsch wechseln') DE
                                ion-icon(name="ios-arrow-round-forward")
            else
                .nav__wrapper.nav__wrapper--dark
                    nav.nav
                        a.nav__brand(href='/')
                            if brand == 'white'
                                img.logo(src='/assets/vector/gumb-brand-white.svg')
                            else
                                img.logo(src='/assets/vector/gumb-brand.svg')
                        nav.nav__navigation.nav__navigation--de
                            a.nav__navigation__item.btn.btn--glass(href='/index.en') Home
                            a.nav__navigation__item.btn.btn--glass(href='/index.en#teamplanbuch') Our Apps
                            a.nav__navigation__item.btn.btn--glass(href='/mission-vision.en') Why & How
                            a.nav__navigation__item.btn.btn--glass(href='/about.en') About us
                            a.nav__navigation__item.btn.btn--glass(href='/community.en') Community
                            select.nav__navigation__select.nav__navigation__item#mobileNav
                                option(value='#' selected) Navigation
                                option(value='/index.en') Home
                                option(value='/index.en#teamplanbuch') Our Apps
                                option(value='/mission-vision.en') Why & How
                                option(value='/about.en') About us
                                option(value='/community.en') Community
                        nav.nav__social
                            a.padding-right(href='https://www.facebook.com/gumbapp/' target='_blank') 
                                ion-icon(name="logo-facebook" size="small")
                            a.padding-right(href='https://www.linkedin.com/company/gumb/' target='_blank') 
                                ion-icon(name="logo-linkedin" size="small")
                            a.padding-right(href='https://twitter.com/GumbApp' target='_blank') 
                                ion-icon(name="logo-twitter" size="small")
                            a.nav__navigation__lang.padding-left(href='/' title='Zu Deutsch wechseln') DE
                                ion-icon(name="ios-arrow-round-forward")
