.contact
    width: 1340px
    background: black
    z-index: 1

    &--bright
        background: #FFFFFF
        box-shadow: 0px 2px 30px #30465926

    &__nav
        display: flex
        justify-content: center
        border-bottom: 1px solid #3c3c3cb8

        &--bright
            border-color: $fog
            
            & a
                color: $nebula
                border-color: $nebula

        &Item
            font: 700 13px/20px Lato
            letter-spacing: 1px
            color: #BCBCBC
            text-transform: uppercase
            padding: 30px 0
            margin: 0 25px

            &--active
                color: #F5F9FC
                border-bottom: #F5F9FC 3px solid

    &__inner
        display: flex
        justify-content: center
        padding: 44px 0
        margin: 0 auto
        max-width: 840px

        & div
            flex: 0 0 25%

footer
    background: white
    padding-top: 350px
    display: flex
    flex-flow: column
    align-items: center

    & p
        padding-bottom: 2px

.footer
    width: 100%
    background: black
    display: flex
    flex-flow: column
    align-items: center
    padding: 105px 0 70px 0

    &--bright
        background: #FFFFFF

    &__inner
        display: flex
        flex-flow: row
        width: 1340px

        & div
            flex: 0 0 20%
            padding-right: 15px

    &__meta
        font: 400 15px/20px Lato
        color: #7C7C7C !important

    &__social
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        padding-top: 88px

        & ion-icon
            width: 22px
            height: 22px

        //& img
            width: 16px
            height: 16px

    &__legal
        display: flex
        justify-content: center
        width: 100%
        padding-top: 40px