.overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background: #ffffffe5
    -webkit-backdrop-filter: blur(30px)
    backdrop-filter: blur(30px)
    z-index: 1212
    padding: 2em
    justify-content: center
    align-items: center
    flex-flow: column
    display: none