.persona
    width: 263px
    height: 350px
    background: #FFFFFF
    box-shadow: $boxshadow

    &__g33
        flex: 0 0 33.33%

    &__text
        padding: 50px 0 0 215px

        & p
            width: 200px

        & ion-icon
            height: 22px
            width: 22px