.persona
    width: 263px
    height: 350px
    background: #FFFFFF
    box-shadow: $boxshadow
    background-size: cover

    & *
        color: $dark

    &__text
        padding: 50px 0 0 215px

        & p
            width: 200px

        & ion-icon
            height: 22px
            width: 22px

    &--df
        background-image: url('../images/team/df.png')

    &--ja
        background-image: url('../images/team/ja.png')

    &--br
        background-image: url('../images/team/br.png')