.portfolio
    width: 573px
    //@include boxshadow()
    margin: 0 1em
        
    &__wrapper
        display: flex
        justify-content: center

        @media (max-width: $phablet-landscape)
            flex-wrap: wrap

    @media (max-width: $phablet-landscape)
        &:last-child
            margin-top: 2em
        
    
    &__image
        display: block
        height: 190px
        margin: 0 auto
        
        //@media (max-width: 520px)
            height: 235px
        
    &__content
        padding: 1.3em 2em
        display: flex
        align-items: center
        flex-flow: column
        text-align: center
        
        @media (max-width: 520px)
            padding-left: 1em
            padding-right: 1em
        
        &__ornament
            width: 1.9em
            height: .51em
            margin-bottom: 1em
            
        &__leaf
            width: 1.3em
            height: 2.1em
            margin-bottom: .5em
        
        &__name
            font-family: 'Montserrat'
            font-weight: bold
            font-size: 1.55em
            letter-spacing: 1px
            color: $grey
            text-transform: uppercase
            letter-spacing: .075em
            
        &__rank
            font-family: 'Georgia'
            color: $camo
            font-size: .95em
            margin-top: .6em
            letter-spacing: .055em
                
        &__text, &__text--edu, &__text--quote
            font-size: 1.05em
            line-height: 1.5em
            
        &__text
            
            &--edu
                color: $fog
                
            &--quote
                font-style: italic
                
        &__cta
            color: #6d6d6d
            font-family: 'Georgia'
            letter-spacing: .05em
            font-size: 1em
            margin: 1em 0 0 0