.showcase
    display: flex
    flex-flow: column
    align-items: center
    margin: 120px auto 140px auto
    width: 100%
    max-width: 1100px

    &__image
        width: 945px
        height: 550px
        background: $placeholder
        align-self: flex-end
        background-size: 100%
        background-position-x: center
        box-shadow: $boxshadow

        @media (max-width: 888px)
            align-self: auto

    &__card
        background: white
        box-shadow: $boxshadow
        padding: 30px
        align-self: flex-start
        margin-top: -100px
        min-height: 260px

        @media (max-width: 888px)
            align-self: auto

    &__ui
        display: flex
        align-self: flex-end
        user-select: none

        @media (max-width: 888px)
            margin-top: 50px
            width: 100%
            justify-content: center