// REUSABLE GENERAL CLASSES & DEFINITIONS

// Content Wrapper
.c
    display: flex
    justify-content: center
    flex-flow: row
    flex-wrap: wrap
    overflow: hidden
    
    &--nowrap
        flex-wrap: nowrap
        
    &--overflow
        overflow: visible
    
    &__inner
        
        &--xscrolling
            display: flex
            justify-content: center
            overflow-x: auto
            width: 1800px
            
            @media (max-width: $ultrabook)
                justify-content: flex-start

// Section Title
.section

    &__title
        display: flex
        flex-flow: column
        align-items: center
        text-align: center

        & p
            padding-top: 10px

    &__spacer
        margin-top: 400px

// Icons
.icon
    width: 1.6em
    height: 1.65em
    margin: 0 .5em 0 0
    align-self: center
    
    &--m
        width: 1.4em
    
    &--s
        width: 1.3em
        height: 1.7em
    
    &--xs
        width: 1.2em
        height: 1.3em
        
    &--rtl
        margin: 0 0 0 .5em
        
    &--nomargin
        margin: 0 0 0 0

// Logo & TPB-Branding
.logo
    width: 142px

.maennli
    width: 20px

// General formating
.hide
    display: none
    
    &--smartphone
        
        @media (max-width: $smartphone)
            display: none
    
.flex
    display: flex !important

    &--items
        align-items: center
    
.hide
    display: hidden

// General Padding
.padding-right
    padding-right: 8px

.padding-left
    padding-left: 8px

.padding-top
    padding-top: 8px
        
// String containing a link or ajax call
.loadmore 
    display: flex
    //align-items: center
    font-family: 'Georgia'
    font-size: 1.2em
    color: $nebula
    //opacity: .95
    cursor: pointer
            
    &__anime, &__anime--rtl
        
        & img
            @include animate()
        
        &:hover
        
            & img
                margin: 0 1em 0 0
                @include animate()
    
    &__anime--rtl
        
        &:hover
        
            & img
                margin: 0 0 0 1em

// Apps
.apps
    padding: 40px 15px

// Takes an anchortag, creates a button 
.btn
    background-color: rgba(0,0,0,.6)
    padding: 8px 16px 9px 16px // padding-right += letter-spacing
    border-radius: 4px
    overflow: hidden
    //@include animate()
    
    &--light
        background-color: #f1f1f1
        
        &:hover
            background-color: rgba(0,0,0,.8)
            color: white
            @include animate()
            
    &--inverted, &__inverted
        background-color: rgba(255,255,255,.2)
            
    &--glass
        background-color: rgba(255,255,255,0)
        
    &--icon
        display: flex
        align-items: center

// App Showcase
.appshowcase
    display: flex
    flex-flow: row
    max-width: 1100px
    margin-top: 125px
    overflow: hidden

    &__text
        flex: 0 0 50%
        display: flex
        flex-flow: column
        justify-content: center
        text-align: center

    &__img
        flex: 0 0 50%
        text-align: center

        & img
            height: 520px
            
.category
    margin: 120px 5px 140px 5px
    background-image: url('../vector/gumb-solarsystem.svg')
    display: flex
    align-items: center
    justify-content: center
    height: 280px
    width: 280px
    background-repeat: no-repeat
    background-position: center

    & h4
        max-width: 180px
        text-align: center
        
.factsdontcareaboutyourfeelings
    display: flex
    flex-flow: row
    flex-wrap: wrap
    width: 100%
    border: 1px #EAEAEA solid
    
    &__inner
        flex: 0 0 25%
        text-align: center
        padding: 2em 1.5em 1.7em 1.5em
        
        @media (max-width: 520px)
            flex: 0 0 100% !important
            padding-top: 1em
            padding-bottom: 1em
        
        &:last-child
            flex: 0 0 50%
        
    &__numeri
        font-family: 'Playfair Display SC'
        font-size: 2.5em
        
    &__title
        font-size: 1.1em

// Gradient
.gradient
    background: linear-gradient(90deg, #147D6C, #1EFFFF)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent