// REUSABLE GENERAL CLASSES & DEFINITIONS

// Content Wrapper
.c
    display: flex
    justify-content: center
    flex-flow: row
    flex-wrap: wrap
    overflow: hidden
    
    &--nowrap
        flex-wrap: nowrap
        
    &--overflow
        overflow: visible
    
    &__inner
        
        &--xscrolling
            display: flex
            justify-content: center
            overflow-x: auto
            width: 1800px
            
            @media (max-width: $ultrabook)
                justify-content: flex-start

// Section Title
.section

    &__title
        display: flex
        flex-flow: column
        align-items: center
        text-align: center

        & p
            padding-top: 10px

    &__spacer
        margin-top: 350px

    &__content
        margin-top: 120px
        margin-bottom: 140px

// Icons
.icon
    width: 1.6em
    height: 1.65em
    margin: 0 .5em 0 0
    align-self: center
    
    &--m
        width: 1.4em
    
    &--s
        width: 1.3em
        height: 1.7em
    
    &--xs
        width: 1.2em
        height: 1.3em
        
    &--rtl
        margin: 0 0 0 .5em
        
    &--nomargin
        margin: 0 0 0 0

// Logo & TPB-Branding
.logo
    width: 142px

.maennli
    width: 20px

// General formating
.hide
    display: none
    
.flex
    display: flex !important

    &--items
        align-items: center
    
.hide
    display: hidden

// General Padding
.padding-right
    padding-right: 8px

.padding-left
    padding-left: 8px

.padding-top
    padding-top: 8px

.padding-bottom
    padding-bottom: 8px

// General Margin
.margin-right
    margin-right: 8px

// Appstore logos
.apps
    padding: 40px 15px

// Takes an anchortag, creates a button 
.btn
    background-color: $primary
    padding: 8px 16px 9px 16px // padding-right += letter-spacing
    overflow: hidden
    @include animate()
    
    &--light
        background-color: #f1f1f1
        
        &:hover
            background-color: rgba(0,0,0,.8)
            color: white
            @include animate()
            
    &--inverted, &__inverted
        background-color: rgba(255,255,255,.2)
            
    &--glass
        background-color: rgba(255,255,255,0)
        
    &--icon
        display: flex
        align-items: center

// App Showcase
.appshowcase
    display: flex
    flex-flow: row
    max-width: 1100px
    margin-top: 125px
    overflow: hidden

    &__text
        flex: 0 0 50%
        display: flex
        flex-flow: column
        justify-content: center
        text-align: center

    &__img
        flex: 0 0 50%
        text-align: center

        & img
            height: 520px

// Category         
.category
    margin: 120px 5px 140px 5px
    background-image: url('../vector/gumb-solarsystem.svg')
    display: flex
    align-items: center
    justify-content: center
    height: 280px
    width: 280px
    background-repeat: no-repeat
    background-position: center

    & h4
        max-width: 180px
        text-align: center

// Facts       
.facts
    flex-flow: column
    align-items: center
    max-width: 140px
    text-align: center
    margin: 0 60px

    &--nomargin
        margin: 0 0

// Timeline
.timeline
    height: 2px
    width: 140px
    background: #ebedef
    margin-top: 70px
    margin-left: -45px
    margin-right: -25px

    &--mod
        margin-left: -27px
        margin-right: -45px

    &__item
        border: 3px solid #ebedef
        border-radius: 50%
        padding: 7px
        margin-bottom: 8px
    
    &__dot
        width: 10px
        height: 10px
        background: $nebula
        border-radius: 50%

// Gradient
.gradient
    background: $gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

// Google Maps integration
.map
    border: 0
    width: 100%
    height: 725px
    margin-top: -204px

// Content dividers
.wall
    border: 1px solid #262626
    height: 18px