// Color Palette
$primary: #1ACCC5
$primary-light: #1df8f77a

$nebula: #304659
$dark: #2A2F34
$gotham: #1C1C1C
$dust : #C9C9C9
$whitewater: #F5F9FC
$fog: #EDEDED
$placeholder: #F0F0F0

// Text Colors
$header: $nebula
$text: #8298AB

// Gradients
$gradient: linear-gradient(90deg, #147e6d, #1efcfc)

// Shadows
$boxshadow: 0px 2px 30px rgba(48, 70, 89, 0.15)

// Display sizes
$probook: 87.5em // 1400px
$ultrabook: 81.25em // 1300px
$bignotebook: 77.5em // 1240px
$notebook: 75em // 1200px
$smallnotebook: 71.25em // 1140px
$tablet-landscape: 68.75em // 1100px
$protablet-landscape: 62.5em // 1000px
$phablet-landscape: 59.375em // 950px
$protablet: 53.125em // 850px
$tablet: 49em // 768px
$phablet: 43.125em // 690px
$smartphone-landscape: 36.25em // 580px
$smartphone: 29.375em // 470px
$smartphone--large: 26.25em // 420px
$smartphone--medium: 23.75em // 380px
$smartphone--small: 21.25em // 340px

// Color classes
.white
    color: white

.dark
    color: $dark

.nebula
    color: $nebula

.dust
    color: $dust

.whitewater
    color: $whitewater

// Brand colors
.fb
    color: #3B5998
.in
    color: #cd2e94
.gh
    color: #171515
.li
    color: #0E76A8
.tw
    color: #00ACEE
.xi
    color: #026466